@import '@/styles/maps';
@import '@/styles/variables';

.warning {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 90px;
    width: 250px;
    text-align: center;
    vertical-align: middle;
    line-height: 80px;
    background-color: white;
    border: 4px solid $close_active;
}
